# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyC959Mrl5ZROGw-Cu_XnSpmXqx7A70M_BQ
VITE_FIREBASE_AUTH_DOMAIN=activelog-dr0fs.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=activelog-dr0fs
VITE_FIREBASE_STORAGE_BUCKET=activelog-dr0fs.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=261780532212
VITE_FIREBASE_APP_ID=1:261780532212:web:0e183bd7735cd3824f67a1
VITE_DEFAULT_SCRIPT_URL=
